@*@model Bank.Application.Customers.Queries.GetCustomerList.GetCustomerListQuery*@
@model Roller.Repository.Customers.CustomerListViewModel
    <br />
    <br />
    <br />

    <form asp-controller="Customer" asp-action="Search" method="GET">
        <div class="form-row">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input class="form-control" asp-for="Name" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="AccountNumber"></label>
                    <input class="form-control" asp-for="AccountNumber" />
                </div>
                <div class="form-group text-right">
                    <button class="btn btn-outline-primary" id="searchBtn" style="text-align:center">Search</button>
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="CurrentPage" value="1" />
    </form>

