<br/>
<br />
<form asp-controller="Customer" asp-action="SearchFullCustDetails" method="get">
    <div class="form-group">
        <label for="accountNumber" style="color:cadetblue"><strong>Account Number</strong> </label>
        <input class="form-control" type="text" name="accountNumber" id="accountNumber" />
    </div>
    <div class="form-group text-right">
        <button class="btn btn-custom">Search</button>
    </div>
</form>


